.banner {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.banner img {
    width: 100%;
    height: auto;
    min-height: 180px;   
    max-height: 230px;   
    object-fit: cover;
}