.banner {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.banner img {
    width: 100%;
    height: auto;
    min-height: 180px;   /* ✔️ altura mínima que nunca bajará */
    max-height: 230px;   /* ✔️ límite superior si quieres */
    object-fit: cover;
}