.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 2000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.header-left .logo {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 40%;
    margin-left: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; 
}
.header-left .logo:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 15px rgba(30, 144, 255, 0.5); 
    background: linear-gradient(135deg, #1e88e5, #0d47a1);
    padding: 5px; 
    border-radius: 50%; 
}

.header-right {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.perfil-icon {
    font-size: 1.8rem;
    text-decoration: none;
    margin-right: 100px;
    color: #1e88e5;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.perfil-icon:hover {
    transform: scale(1.2);
    color: #0d47a1;
    box-shadow: 0 4px 15px rgba(30, 144, 255, 0.4);
}

.logout-button {
    background-color: #f2f2f2;
    color: #555;
    border: 1px solid #ccc;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
    background-color: #e0e0e0;
    color: #333;
}